* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

header {
    max-width: 1200px;
    min-height: 5400px;
    margin: 0 auto;

}

.wrapper {
    max-width: inherit;
    min-height: 742px;
}

.wrapper_nav {
    max-width: inherit;
    min-height: 137px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px 49px 37px;
    flex-wrap: wrap;
}

.nav_logo {
    font-size: 30px;
    font-weight: 500;
}

.nav_menu {
    display: flex;
    flex-basis: 497px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav_menu a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 6px 0;

}

.nav_menu a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-image: linear-gradient(#13ADC7 0%,
            #6978D1 66.67%,
            #945DD6 100%);
    transition: width .3s ease-out;

}

.nav_menu a:hover::after {
    left: 0;
    width: 100%;
    transition: width .3s;

}

.nav_icons {
    display: flex;
    flex-basis: 119px;
    justify-content: space-between;
    align-items: center;
}

.wrapper_text {
    max-width: inherit;
    min-height: 525px;
}

.wrapper_text h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 82.5 px;
    color: #FFFFFF;
    margin: 146px 320px 0 115px;
}

.wrapper_text p {
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color: #BCBCBC;
    margin: 67px 276px 0 115px;
}

.wrapper_text a {
    display: inline-block;
    text-decoration: none;
    width: 280px;
    height: 80px;
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 42px;
    margin: 86px 805px 0 115px;
    background-image: linear-gradient(#13ADC7 0%,
            #6978D1 66.67%,
            #945DD6 100%);
    padding: 19px 64px 19px 63px;
    border-radius: 83px;
    transition: 0, 3s;
}

.wrapper_text a:hover {
    transform: scale(1.2);
}

h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 82.5px;
    color: #FFFFFF;
    margin: 176px 734px 0 115px;
}

.container {
    width: inherit;
    min-height: 1568px;
    /* background-color: antiquewhite; */
}

.project1 {
    max-width: inherit;
    min-height: 600px;
    margin-top: 109px;
    display: flex;
    align-items: center;
    padding: 20px 27.79px 28.91px 20px;
    border-radius: 50px 0;
    box-shadow: 0px 0px 12px #FFFFFF;
}

.project1_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.project1_text h3 {
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 31.86px;
    position: relative;
    padding: 17px;
    text-transform: uppercase;


}

.project1_text h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 83px;
    background-image: linear-gradient(#13ADC7 0%,
            #6978D1 66.67%,
            #945DD6 100%);
}

.project1_text p {
    color: white;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    margin: 83px 87.21px 32px 55px;
}

.project1_text a {
    display: inline-block;
    text-decoration: none;
    width: 220px;
    height: 65px;
    border-radius: 83px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 30px;
    background-image: linear-gradient(#13ADC7 0%,
            #6978D1 66.67%,
            #945DD6 100%);
    transition: 0, 3s;
    padding: 19px 58px;
    margin: 32px 237.21px 72px 185px;
}

.project1_text a:hover {
    transform: scale(1.2);
}
